/* Fitur Default Global */
body {
    margin: 0;
    padding: 0;
    font-family: Plus Jakarta Sans;
}
.container {
    padding: 5px 130px;
}
.container-l {
    padding-left: 130px;
    padding-right: 150px;
}
.container-r {
    padding-right: 130px;
}
.col-3 {
    width: 33.33%;
}
.col-25 {
    width: 25%;
}
.col-1-footer {
    width: 30%;
}
.col-2-footer {
    width: 20%;
}
.col-70 {
    width: 70%;
}
.col-50 {
    width: 50%;
}
.col-30 {
    width: 30%;
}
.vh-100 {
    height: 100vh;
}









/* Display */
.j-content-center {
    display: flex;
    justify-content: center;
}
.j-content-between {
    display: flex;
    justify-content: space-between;
}
.a-item-center {
    display: flex;
    align-items: center;
}
.d-flex {
    display: flex;
}
.d-flex-1 {
    flex: 1;
}
.d-flex-column {
    flex-direction: column;
}
.d-width {
    width: 50%;
}
.d-width-60 {
    width: 60%;
}
.d-width-40 {
    width: 40%;
}
.d-width-35 {
    width: 35%;
}
.d-width-20 {
    width: 20%;
}
.d-width-5 {
    width: 5%;
}
.gap {
    gap: 20px;
}
.gap-5 {
    gap: 5px;
}








/* CSS Navbar */
.navbar {
    background-color: #0b0909;
    display: flex;
    align-items: center;
}
.nav-trans {
    background-color: rgba(11, 9, 9, 0.13);
    display: flex;
    align-items: center;
    position: relative;
}
.min-h {
    margin-top: -65px;
}
.logo {
    display: flex;
    align-items: center;
    color: white;
    font-family: Sacramento;
}
.logo-footer {
    display: flex;
    align-items: center;
    color: #8E6447;
    font-family: Sacramento;
}
.logos {
    margin-right: 15px;
}
.link > li {
    font-family: Plus Jakarta Sans;
    display: inline-block;
    padding-left: 68px;
}
.menu {
    color: white;
    text-decoration: none;
}







/* Margin */
.ms-auto {
    margin-left: auto;
}
.me-auto {
    margin-right: auto;
}
.mx-sm {
    margin-left: 10px;
    margin-right: 10px;
}
.mx-md {
    margin-left: 20px;
    margin-right: 20px;
}
.mx-xs {
    margin-left: -10px;
    margin-right: -10px;
}
.my-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-sm-1 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-md {
    margin-top: 87px;
    margin-bottom: 87px;
}
.my-xl {
    margin-top: 300px;
    margin-bottom: 150px;
}
.my-xs {
    margin-top: 59px;
    margin-bottom: 59px;
}
.ms-sm {
    margin-left: 10px;
}
.ms-sm-5 {
    margin-left: 5px;
}
.ms-sm-15 {
    margin-left: 15px;
}
.my-0 {
    margin-top: 10px;
    margin-bottom: 0;
}
.my-b-0 {
    margin-top: 0;
    margin-bottom: 10px;
}
.my-b-300 {
    margin-top: 0;
    margin-bottom: 300px;
}
.margin-0 {
    margin-top: 0;
    margin-bottom: 0;
}








/* Padding */
.padding {
    padding: 10px 10px;
}
.px-sm {
    padding-left: 20px;
    padding-right: 30px;
}
.px-sm-1 {
    padding-left: 20px;
    padding-right: 20px;
}
.px-sm-2 {
    padding-right: 200px;
}
.py-md {
    padding-top: 90px;
    padding-bottom: 90px;
}
.py-sm {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pxy {
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
}








/* .border */
.border {
    border: 1px solid #E8E8E8;
}
.br-1 {
    border-right: 1px solid white;
}
.br-2 {
    border-left: 8px solid #FF8906;
    width: 7px;
    height: 68px;
    
}
.br-3 {
    border-bottom: 8px solid #FF8906;
    width: 100px;
}








/* Button Colour */
.warna1 {
    color: white;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 12px 18px;
    border-radius: 5px;
    cursor: pointer;
}
.warna2 {
    color: #0b132a;
    background-color: #ff8906;
    border: 1px solid #ff8906;
    padding: 12px 18px;
    border-radius: 5px;
    cursor: pointer;
}
.warna2-sm {
    color: #0b132a;
    background-color: #ff8906;
    border: 1px solid #ff8906;
    padding: 6px 9px;
    border-radius: 5px;
    cursor: pointer;
}
.warna2-md {
    color: #0b132a;
    background-color: #ff8906;
    border: 1px solid #ff8906;
    padding: 6px 90px;
    border-radius: 5px;
    cursor: pointer;
}
.warna3-md {
    color: #0b132a;
    background-color: #ff8906;
    border: 1px solid #ff8906;
    padding: 6px 49px;
    border-radius: 5px;
    cursor: pointer;
}
.warna2-outline {
    border: 1px solid #ff8906;
    color: #ff8906;
    background-color: white;
    padding: 12px 18px;
    border-radius: 5px;
    cursor: pointer;
}
.warna2-outline-sm {
    border: 1px solid #ff8906;
    color: #ff8906;
    background-color: white;
    padding: 6px 9px;
    border-radius: 5px;
    cursor: pointer;
}
.warna3-outline {
    border: 1px solid #4f5665;
    color: #4f5665;
    background-color: white;
    padding: 12px 18px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-flash-sale {
    padding: 10px;
    border-radius: 24px;
    border: unset;
    color: white;
    background-color: #d00000;
    cursor: pointer;
}
.btn-pagination1 {
    padding: 10px;
    border-radius: 24px;
    border: unset;
    background-color: #FF8906;
    cursor: pointer;
}
.btn-pagination2 {
    padding: 10px;
    border-radius: 24px;
    border: unset;
    background-color: #E8E8E8;
    cursor: pointer;
}










/* Text */
.text-promo {
    color: #d00000;
    text-decoration-line: strikethrough;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text-progres {
    color: #FF8906;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.hasil {
    border-radius: 24px;
    background: rgba(255, 137, 6, 0.20);
}
.link-decoration {
    cursor: pointer;
    color: #FF8906;
    text-decoration: none;
}
.text-orange {
    color: #ff8906;
}
.text-grey {
    color: #4f5665;
}
.text-black {
    color: #0B0909;
}
.text-white {
    color: white;
}
.text-brown {
    color: #8E6447;
}
.text-grey1 {
    color: #AFB5C0;
}
.text-donker {
    color: #0B132A;
}
.fs-48 {
    font-size: 48px;
}
.fs-44 {
    font-size: 44px;
}








/* Image Display */
.img-cover {
    object-fit: contain;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.pills {
    left: 15px;
    top: 30px;
}
.pills-1 {
    bottom: -45%;
    right: 17.5px;
}
.pills-2 {
    bottom: -75%;
    right: 31px;
}
.image1 {
    height: 170px;
}
.image2 {
    width: 111px;
    height: 105px;
}
.img-map {
    width: 100%;
    height: 100vh;
}









/* Background Color */
.bg-grey {
    background-color: #F8F8F8;
}
.bg-grey-1 {
    background: #E8E8E8;
}
.bg-white {
    background-color: white;
}
.bg-gradien {
    background-image: linear-gradient(168deg, #777C82 -114.74%, #0B0909 91.35%);
}









/* Footer */
.list-style {
    list-style-type: none;
}








/* Form */
.form {
    display: flex;
    flex-direction: column;
}
.form-icon {
    position: relative;
}
.form-icon img{
    position: absolute;
    left: 6px;
    top: 6px;
}
.form-label {
    color: #0B132A;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 13px;
}
.form-data {
    padding-left: 50px !important;
    width: -webkit-fill-available;
    display: flex;
    padding: 14px 13px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Border-and-Line, #DEDEDE);
    background: #FCFDFE;
}
.form-icon-size {
    object-fit: contain;
    display: flex;
    width: 24px;
    height: 24px;
    padding: 2.814px 4.846px 2.78px 4.814px;
    justify-content: center;
    align-items: center;
}
.icon-size-peyment {
    object-fit: contain;
    display: flex;
    width: 38px;
    height: 32px;
    padding: 2.814px 4.846px 2.78px 4.814px;
    justify-content: center;
    align-items: center;
}